CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8081/'
app.forceGlobalSecureRequests = false

database.default.hostname = 127.0.0.1
database.default.database = mini_lms
database.default.username = root
database.default.password = root
database.default.DBDriver = MySQLi
database.default.port = 3307

encryption.key =
